html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  font-family: 'Open Sans', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.container{
  width: auto;
	margin:70px 0 0 0;
}
header{
	position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
	height:66px;
  top: 0px;
	background-color:#eaeaea;
}
h3{
	font-size: 1.17em;
}
p{
  line-height: 1.5em;
}
a{
	text-decoration: none;
}

#logo{
	height: 33px;
  padding-left: 20px;
}
#nav-bar{
	height: 33px;
	display: flex;
	margin-left: auto;
}
#nav-bar ul{
  display:flex;
  align-items:flex-end;
}
#nav-bar ul li{
  padding:0 20px 0 0;
}
#nav-bar ul li a{
	color:#255a6f;
	font-size: 1.17em;
}
.container{
  width:100%;
  background-color:#eaeaea;
	margin:auto;
	padding-top:66px;

}
#main-splash-img{
	width:100%;
	height: 600px;
	background-image: url("images/vial_c_1400w_802h.png");
	background-repeat: no-repeat;
	background-position: center;
	background-color:#001116;

}

#get-started-text{
	margin-left: 3em;
  padding-top: 16em;
  color: #eaeaea;
  text-align: right;
  width: 50%;
}
h2{
	font-size: 2em;
}
#get-started-text p{
	padding-top:1.5em;
}
h3{
	font-size: 1.17em;
	padding:2em 0 1em 0;
	text-align: center;
}
p{
font-size:16px;

}

