// sass --watch public/styles/input.scss public/styles/main.css 
$font-family: 'Open Sans', sans-serif;
$primary-color: #333;
$off-white:#eaeaea;
$light-blue:#255a6f;
$dark-blue: #031b28;
$body-bg: #eaeaea;

.btn-primary{
	background-color: $light-blue;
	border-color: $light-blue;
} 
.btn-primary:hover{
	background-color: $dark-blue;
	border-color: $dark-blue;
} 


/* HTML5 display-role reset for older browsers */

html{
	scroll-behavior: smooth;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: $font-family;
	background-color:$off-white;
}
ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.container{
  width: auto;
	margin:70px 0 0 0;
}
header{
	position: fixed;
	width: 100%;
	top: 0px;
	background-color:$off-white;
	z-index: 10000;
	padding-left: 74px;
  	padding-top: 10px;
  
}
h2{
	font-size: 2em;
	position: absolute;
	top: 30%;
	left: 5%;
	color: $off-white;
	text-align: left;
	max-width: 700px;
}
p{
  line-height: 1.5em;
  font-size:16px;
}
a{
	text-decoration: none;
}
.section{
	padding: 0 5% 0 5%;

}
// #logo{
// 	height: 33px;
//   padding-left: 70px;
// }
#nav-bar{
	// height: 33px;
	// display: flex;
	// margin-left: auto;
	#logo{
		height: 1.5em;
	}
	ul{
		// display:flex;
		align-items:flex-end;
		
	}
	li{
		padding:0 90px 0 0;
	}
	a{
		color:$light-blue;
		font-size: 1.17em;
	}
	a:hover{
		color:$dark-blue;
		font-size: 1.17em;
	}
}

#main{
    width:100%;
    background-color:$off-white;
    margin:auto;
		padding-top:66px;
		
}

#main-splash-img{
	max-height: 767px;
	min-height: 200px;
	background-image: url("http://fennellweb.com/sites/elixir_of_life/images/vial_c_1400w_767h.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;

	h2{
		color: $off-white;
	}
}

h3{
	font-size: 26px;
	padding: 88px 0 14px 0;
	text-align: center;
	
}

#get-started-text p{
	padding-top:1.5em;
}

#main-text-blocks{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	h3{
		border-bottom: 2px solid $light-blue;
	}
	p{
		margin-top:34px;
	}
}
.navbar-toggler{
	border: 1px solid $light-blue;
}
#testemonials{
	display: flex;
	flex-direction: column;
	align-items: center;
	h3{
		border-bottom: 2px solid $light-blue;
		margin-bottom:30px;
		width: 37%;
		margin: auto;
		flex-basis: 100%
	}
	.quote-container-left-aligned{
		width: 100%;
		display:flex;
		align-items: flex-end;
		margin-bottom: 40px;
		.quote-pic{
			height:108px;
			width:108px;
			margin-left:3px;
		}
		.quote-arrow{
			width:30px;
			height:30px;
			background-color: $light-blue;
			-webkit-clip-path: polygon(100% 0, 0 56%, 100% 100%);
			clip-path: polygon(100% 0, 0 50%, 100% 100%);
			padding-bottom:12px;
			margin-bottom: 30px;

		}
		.quote-block{
			width:100%;
			padding: 33px 23px 13px 33px;
			background-color:$light-blue;
			border-radius: 7px 7px 7px 7px;
			-moz-border-radius: 7px 7px 7px 7px;
			-webkit-border-radius: 7px 7px 7px 7px;

			.quote-head{
				color:$off-white;
				padding-bottom: 28px;
				font-size:18px;
			}
			.quote-body{
				width:90%;
				padding-bottom:20px;
			}
			.quote-name{
				float:right;
			}
		}
	}
	.quote-container-right-aligned{
		width: 100%;
		display:flex;
		align-items: flex-end;
		flex-direction: row-reverse;
		margin-bottom: 40px;

		.quote-pic{
			height:108px;
			width:108px;
			margin-left:3px;
		}
		.quote-arrow{
			width:30px;
			height:30px;
			background-color: $light-blue;
			-webkit-clip-path: polygon(0 0, 100% 50%, 0 100%);
			clip-path: polygon(0 0, 100% 50%, 0 100%);
			padding-bottom:12px;
			margin-bottom: 30px;
		}
		.quote-block{
			width:100%;
			padding: 33px 23px 13px 33px;
			background-color:$light-blue;
			border-radius: 7px 7px 7px 7px;
			-moz-border-radius: 7px 7px 7px 7px;
			-webkit-border-radius: 7px 7px 7px 7px;

			.quote-head{
				color:$off-white;
				padding-bottom: 28px;
				font-size:18px;
			}
			.quote-body{
				width:90%;
				padding-bottom:20px;
			}
			.quote-name{
				float:right;
			}
		} 
	}
	.hidden-by-default{
		display:none;
	}
	#testemonials-background{
		margin-top: 34px;
		background:$dark-blue;
		width:100%;
	}
	#testemonials-container{
		
		margin-top: 34px;
		width:100%;

	}
}

#contact{
	h3{
	width: 37%;
	border-bottom: 2px solid $light-blue;	
	margin: auto;
	}
	#contact_dont_miss_out{
		text-align:center;
		margin-top: 34px;
		margin-bottom:1rem;
	}
	#form{
		display: flex;
		flex-direction: column;
		.hidden-by-default{
			display:none;
		}
		p{
			margin: 0;
		}
		.additional-info{
			text-align: center;
			margin-bottom: 1em;
			p{
				margin: 0;
			}
		}
	}
}

// #form-block-2{
// 	display: none;
// }
// #form-block-3{
// 	display: none;
// }
#submitForm{
	display:none;
}
footer{
	display:flex;
	margin-bottom: 4em;

	img{
		margin: auto;
	}
}
@media screen and (min-width: 480px) {

	#main-splash-img{
		min-height:738px;
	}
}