.btn-primary {
  background-color: #255a6f;
  border-color: #255a6f;
}

.btn-primary:hover {
  background-color: #031b28;
  border-color: #031b28;
}

/* HTML5 display-role reset for older browsers */
html {
  scroll-behavior: smooth;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Open Sans", sans-serif;
  background-color: #eaeaea;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  width: auto;
  margin: 70px 0 0 0;
}

header {
  position: fixed;
  width: 100%;
  top: 0px;
  background-color: #eaeaea;
  z-index: 10000;
  padding-left: 74px;
  padding-top: 10px;
}

h2 {
  font-size: 2em;
  position: absolute;
  top: 30%;
  left: 5%;
  color: #eaeaea;
  text-align: left;
  max-width: 700px;
}

p {
  line-height: 1.5em;
  font-size: 16px;
}

a {
  text-decoration: none;
}

.section {
  padding: 0 5% 0 5%;
}

#nav-bar #logo {
  height: 1.5em;
}
#nav-bar ul {
  align-items: flex-end;
}
#nav-bar li {
  padding: 0 90px 0 0;
}
#nav-bar a {
  color: #255a6f;
  font-size: 1.17em;
}
#nav-bar a:hover {
  color: #031b28;
  font-size: 1.17em;
}

#main {
  width: 100%;
  background-color: #eaeaea;
  margin: auto;
  padding-top: 66px;
}

#main-splash-img {
  max-height: 767px;
  min-height: 200px;
  background-image: url("http://fennellweb.com/sites/elixir_of_life/images/vial_c_1400w_767h.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
#main-splash-img h2 {
  color: #eaeaea;
}

h3 {
  font-size: 26px;
  padding: 88px 0 14px 0;
  text-align: center;
}

#get-started-text p {
  padding-top: 1.5em;
}

#main-text-blocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#main-text-blocks .text-blocks {
  width: 40%;
}
#main-text-blocks .text-blocks h3 {
  border-bottom: 2px solid #255a6f;
}
#main-text-blocks .text-blocks p {
  margin-top: 34px;
}

.navbar-toggler {
  border: 1px solid #255a6f;
}

#testemonials {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#testemonials h3 {
  border-bottom: 2px solid #255a6f;
  margin-bottom: 30px;
  width: 37%;
  margin: auto;
  flex-basis: 100%;
}
#testemonials .quote-container-left-aligned {
  width: 100%;
  display: flex;
  align-items: flex-end;
  margin-bottom: 40px;
}
#testemonials .quote-container-left-aligned .quote-pic {
  height: 108px;
  width: 108px;
  margin-left: 3px;
}
#testemonials .quote-container-left-aligned .quote-arrow {
  width: 30px;
  height: 30px;
  background-color: #255a6f;
  -webkit-clip-path: polygon(100% 0, 0 56%, 100% 100%);
  clip-path: polygon(100% 0, 0 50%, 100% 100%);
  padding-bottom: 12px;
  margin-bottom: 30px;
}
#testemonials .quote-container-left-aligned .quote-block {
  width: 100%;
  padding: 33px 23px 13px 33px;
  background-color: #255a6f;
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border-radius: 7px 7px 7px 7px;
}
#testemonials .quote-container-left-aligned .quote-block .quote-head {
  color: #eaeaea;
  padding-bottom: 28px;
  font-size: 18px;
}
#testemonials .quote-container-left-aligned .quote-block .quote-body {
  width: 90%;
  padding-bottom: 20px;
}
#testemonials .quote-container-left-aligned .quote-block .quote-name {
  float: right;
}
#testemonials .quote-container-right-aligned {
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-direction: row-reverse;
  margin-bottom: 40px;
}
#testemonials .quote-container-right-aligned .quote-pic {
  height: 108px;
  width: 108px;
  margin-left: 3px;
}
#testemonials .quote-container-right-aligned .quote-arrow {
  width: 30px;
  height: 30px;
  background-color: #255a6f;
  -webkit-clip-path: polygon(0 0, 100% 50%, 0 100%);
  clip-path: polygon(0 0, 100% 50%, 0 100%);
  padding-bottom: 12px;
  margin-bottom: 30px;
}
#testemonials .quote-container-right-aligned .quote-block {
  width: 100%;
  padding: 33px 23px 13px 33px;
  background-color: #255a6f;
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border-radius: 7px 7px 7px 7px;
}
#testemonials .quote-container-right-aligned .quote-block .quote-head {
  color: #eaeaea;
  padding-bottom: 28px;
  font-size: 18px;
}
#testemonials .quote-container-right-aligned .quote-block .quote-body {
  width: 90%;
  padding-bottom: 20px;
}
#testemonials .quote-container-right-aligned .quote-block .quote-name {
  float: right;
}
#testemonials .hidden-by-default {
  display: none;
}
#testemonials #testemonials-container {
  background: #031b28;
  margin-top: 34px;
  width: 100%;
}

#contact_dont_miss_out {
  text-align: center;
}

#form {
  display: flex;
  flex-direction: column;
}
#form .hidden-by-default {
  display: none;
}
#form p {
  margin: 0;
}
#form .additional-info {
  text-align: center;
  margin-bottom: 1em;
}
#form .additional-info p {
  margin: 0;
}

#submitForm {
  display: none;
}

footer {
  display: flex;
  margin-bottom: 4em;
}
footer img {
  margin: auto;
}

@media screen and (min-width: 480px) {
  #main-splash-img {
    min-height: 738px;
  }
}

/*# sourceMappingURL=main.css.map */
